.App {
    text-align: center;
    background: url('/background.png') no-repeat center top #0b0b1b;
    background-size: cover;
    overflow: auto;
    height: 100vh;
}

body {
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #e9f4ff;
    /* background: url('/background.png') no-repeat center top #0b0b1b; */
    background-size: cover;
    overflow: auto;
}

.fullscreen-enabled {
    background-color: transparent;
}

.panel {
    background-color: rgba(42, 42, 42, 0.666);
    border: 1px solid #807b6f;
    margin-bottom: 0px;
}

button {
    /* background-color: transparent; */
    background-color: rgba(35, 196, 187, 0.53);
}

#tooltip > .tooltip-inner {
    width: 300px;
    min-height: 180px;
    background-color: #EFEEEE;
    color: black;
    border: 1px solid #BDBDBD;

}

#tooltip > .tooltip-arrow {
    display: none;
}

button {
    border-radius: 3.5px;
}

{
    design_est: #ffcf9a;
    program_est: #ffc6f1;
    management_est: #b5f7ff;
    design_done: #ffb380;
    program_done: #ff99ee;
    management_done: #85f2ec;
    design_bug: #a47353;
    program_bug: #aa68a1;
    management_bug: #498783;
}

.content_container {
    margin: 0 auto;
    text-align: center;
    /* overflow-y: scroll; */
    /* height: 100vh; */
    max-width: 700px;
    max-height: 1000px;
}