.header {
    box-sizing: border-box;
    padding: 2px;
    background-color:rgba(42,0,0,0.666);
    color: #BCC5D6;
    text-align: center;
/*font-family: Helvetica, Arial, Sans-Serif;*/
    font-weight: 100;
    width: 100%;
    position:fixed;
    top:0;
    z-index:50000;
    font-size: 14px;
    max-width: 700px;
    max-height: 70px;
}

.header a {
    color: #cfd2dc;
    text-decoration: none;
}

.header a:hover {
    background-color: rgba(92, 20, 19, 0.72);
    color: #EBEEF5;
}


.header a img {
    width: 0px;
    vertical-align: middle;
    margin-top: -2px
}
